<section>
    <form name="add" autocomplete="off" action="/add" method="POST">
        <h1>Add your photo</h1>
        <label for="title">Title:
            <input type="text" name="title" placeholder="Add title" required/>
        </label>
        <label for="description">Description:
            <input type="text" name="description" placeholder="Add description" required/>
        </label>
        <label for="imageURL">Image url:
            <input type="text" name="imageURL" placeholder="Paste your image url" required/>
        </label>
        <button name="submit_button" type="submit">Submit!</button>
    </form>
</section>