<!DOCTYPE html>
<html>
{{>htmlHead}}

<body>

    {{> header}}

    <main class="main main__form">
        {{{body}}}
    </main>

    {{> footer}}
    <script src="/index.js"></script> {{#if activePage.register}}
    <script src="/registerValidation.js"></script> {{/if}} {{#if activePage.login}}
    <script src="/loginValidation.js"></script> {{/if}}

</body>

</html>
