<!DOCTYPE html>
<html>
{{>htmlHead}}

<body>

    {{> header}}

    <main class="main">
        {{{body}}}
    </main>

    {{> footer}}
    <script src="/index.js"></script> {{#if activePage.register}}
    <script src="/passwordValidation.js"></script>{{/if}}

</body>

</html>